.nav-container {
  position: relative;
  // border: 1px solid red;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px auto;
  padding: 0 5px;
  max-width: 1160px;

  a {
    text-decoration: none;
  }

  li {
    margin: 0 10px;
    list-style: none;
  }
}
.nav-wrapper {
  display: flex;
}
.navbar-main {
  display: block;

  ul {
    display: flex;
  }

  @include tablet {
    display: none;
  }
}

.navbar-responsive {
  position: absolute;
  top: 40px;
  left: 0;
  background-color: white;
  display: none;
  z-index: 99;

  ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 5px;
    padding-right: 20px;
  }

  @include tablet {
    display: block;
  }
}

.nav-menue-icon {
  display: none;

  @include tablet {
    display: block;
  }
}

.nav-avatar-container {
  display: flex;
  align-items: center;
  gap: 6px;
  margin-left: 1rem;
  position: relative;
  @include tablet {
    margin-left: 3px;
  }
  button {
    border: none;
    background-color: rgb(80, 78, 78);
    color: white;
    padding: 5px 12px;
    border-radius: 5px;
    cursor: pointer;
  }
  img {
    width: 45px;
    height: 45px;
    cursor: pointer;
  }
}

.profile-bar {
  position: absolute;
  top: 50px;
  right: 0;
  z-index: 99;
  background-color: white;
  ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 1rem;
    padding-right: 20px;
  }
}
