/*===========================================
=             It is optional                =
==============================================*/

// Have to write website layoute designe here.

.lms-container {
  max-width: 1440px;
  margin: 0 auto;
  z-index: 1;
}
